/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/*
40 60 80 ... 160

100      ... 170


The trick is to never let it off the screen using your media queries.
Those numbers above need to be maintained.
*/
#search-block-form {
  margin: 3px 6px 6px;
}

#search-block-form .form-text {
  width: 141px;
}

#search-block-form .form-submit {
  border-radius: 0 11px 11px 0;  
  margin-right: 0;
}