/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

.navigation {
  display: table;
  height: 40px;
  margin-top: 60px;
  width: 100%;
  padding: 0;
}
.navigation ul {
  display: table-row !important;
}
.navigation ul li {
  display: table-cell;
  padding: 0 10px;
  text-align: center;
  width: 16.6%;
}

.navigation a {
  border-radius: 10px 10px 0 0; 
}

#search-block-form .form-text {
  width: 221px;
}

body {
  background-image: url("../images/background-normal.jpg");
}

.not-front #region-branding .site-name {
  margin-left: -20px;
}