/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

#section-header {
  padding: 30px 0 0 0;
}

body {
  background: url("../images/background.jpg") no-repeat fixed 50% 0px #F7F7FF;
  transition: all 0.2s ease 0s;
}

#region-branding .site-name {
  height: 170px;
  margin-top: -30px;
  margin-bottom: -40px; /* total = 100 */
}

#region-branding a {
  background-image: url("../images/logo-large.png");
  display: block;
  height: 170px;
  position: absolute;
  text-indent: -9999em;
  width: 160px;
  z-index: 1;
}

.breadcrumb,
.region-preface-third {
  background: none repeat scroll 0 0 #AA0000;
  border-radius: 0 0 5px 5px;  
  margin-bottom: 5px;
}


.breadcrumb {
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 15px;
  color: white;
  margin-bottom: 3px;
}
.breadcrumb a:link, .breadcrumb a:visited{
  color: white;
  text-decoration: underline;
}

.front-thumbs img {
  width: auto;
  height: auto;
  max-width: 33%;
}

img.grid-1,
img.grid-2,
img.grid-3,
img.grid-4,
img.grid-5,
img.grid-6,
img.grid-7,
img.grid-8,
img.grid-9,
img.grid-10,
img.grid-11,
img.grid-12 {
  height:auto;
}

#zone-footer {  
  background-color: #AA0000;
  background-color: rgba(170, 0, 0, 0.8);
  color: #F7F7FF;
  margin: 10px auto 50px;
  border: none; 
}

#zone-footer a:link,
#zone-footer a:visited{
  color: #D4A705
}

html body.admin-menu,
html body.admin-menu-with-shortcuts{
  margin-top: 0 !important;
}

html body.admin-menu {
  padding-top: 29px;
}

html body.admin-menu-with-shortcuts {
  padding-top: 65px;
}